.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.logo {
  width: 50px; /* hoặc kích thước bạn mong muốn */
  height: auto;
}
